@model BanGiay.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaGoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaGoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaGiam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaGiam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.NameCate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhGia.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGia.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KichCo.maSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichCo.maSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuongHieuSP.TenTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongHieuSP.TenTH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
