@model IEnumerable<BanGiay.Models.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MauSac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaGoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaGiam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.NameCate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhGia.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KichCo.maSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThuongHieuSP.TenTH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MauSac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaGoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaGiam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.NameCate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhGia.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KichCo.maSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuongHieuSP.TenTH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.maSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maSP })
        </td>
    </tr>
}

</table>
