@model BanGiay.Context.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<style>
    .container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1280px;
        margin: 0 auto 2em;
    }

    .styled {
        padding: 2em;
        box-shadow: 0 15px 70px -8px rgb(0 0 0 / 20%);
        border-radius: 20px;
        width: 95%
    }

    h2 {
        font-weight: bold;
        text-align: center;
    }

    .form-horizontal {
        margin-top: 2em;
    }

    .form-group {
        margin-bottom: 1.5em;
    }

    .control-label {
        font-weight: bold;
    }

    .btn {
        padding: 0.5em 1em;
        border: none;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5em;
        text-align: center;
        border-radius: 20px;
    }

    .btn-success {
        background-color: #28a745;
        color: var(--white-color);
    }

    .btn-dark {
        background-color: #343a40;
        color: var(--white-color);
    }
</style>



<div class="container1">
    <div class="styled">
        <h2>Sửa sản phẩm</h2>

        @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <hr />

            <div class="form-group" style="margin-top:20px">
                Tên sản phẩm
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tenSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tenSP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Tình trạng sản phẩm
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TinhTrangSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TinhTrangSP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Màu sắc
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MauSac, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MauSac, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Hình ảnh 1
                <div class="col-md-10">
                    <input type="file" name="UpLoadHinhAnh1" />
                </div>
            </div>

            <div class="form-group">
                Hình ảnh 2
                <div class="col-md-10">
                    <input type="file" name="UpLoadHinhAnh2" />
                </div>
            </div>

            <div class="form-group">
                Hình ảnh 3
                <div class="col-md-10">
                    <input type="file" name="UpLoadHinhAnh3" />
                </div>
            </div>

            <div class="form-group">
                Hình ảnh 4
                <div class="col-md-10">
                    <input type="file" name="UpLoadHinhAnh4" />
                </div>
            </div>

            <div class="form-group">
                Mô tả
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoTaSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTaSP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Giá gốc
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaGoc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaGoc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Giá giảm
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaGiam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaGiam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Số lượng bán
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SLBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SLBan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Số lượng tồn
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SLTon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SLTon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Thương hiệu
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MaTH, ViewBag.BrandList as SelectList, "Chọn thương hiệu", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaTH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Loại giày
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CatID, ViewBag.CategoryList as SelectList, "Chọn danh mục", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CatID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Mã đánh giá
                <div class="col-md-10">
                    @Html.EditorFor(model => model.maDanhgia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.maDanhgia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Mã size
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.maSize, ViewBag.SizeList as SelectList, "Chọn size", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.maSize, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Giảm giá
                <div class="col-md-10">
                    @Html.EditorFor(model => model.giamGia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.giamGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-success" style=" padding: 1em 2em;" />
                    @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-dark" })
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
