@model BanGiay.Models.ViewModel

@{
    ViewBag.Title = "Detail";
}


<main>
    <div class="single-product">
        <div class="container">
            <div class="wrapper">
                <div class="breadcrumb">
                    <ul class="flexitem">
                        <li><a href="\">Trang chủ</a></li>
                        <li><a href="@Url.Action("ProductCategory", "Category",new { MaTH = Model.SanPham1.MaTH })">@Model.TenThuongHieu</a></li>
                        <li><a href="#">@Model.SanPham1.tenSP</a></li>
                    </ul>
                </div>
                <!--breadcrumb-->
                <div class="column">
                    <div class="products one">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item">
                                    <div class="price">
                                        <span class="discount">@Model.SanPham1.giamGia%<br>OFF</span>
                                    </div>
                                    <div class="big-image">
                                        <div class="big-image-wrapper swiper-wrapper">
                                            <div class="image-show swiper-slide">
                                                <a data-fslightbox href="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh1)"><img src="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh1)" /></a>
                                            </div>
                                            <div class="image-show swiper-slide">
                                                <a data-fslightbox href="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh2)"><img src="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh2)" /></a>
                                            </div>
                                            <div class="image-show swiper-slide">
                                                <a data-fslightbox href="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh3)"><img src="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh3)" /></a>
                                            </div>
                                            <div class="image-show swiper-slide">
                                                <a data-fslightbox href="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh4)"><img src="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh4)" /></a>
                                            </div>
                                        </div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>

                                    <div thumbSlider="" class="small-image">
                                        <ul class="small-image-wrapper flexitem swiper-wrapper">
                                            <li class="thumbnail-show swiper-slide ">
                                                <img src="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh1)" />
                                            </li>
                                            <li class="thumbnail-show swiper-slide ">
                                                <img src="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh2)" />
                                            </li>
                                            <li class="thumbnail-show swiper-slide ">
                                                <img src="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh3)" />
                                            </li>
                                            <li class="thumbnail-show swiper-slide ">
                                                <img src="@Url.Content("~/Content/Image/SanPham/"+Model.SanPham1.HinhAnh4)" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item"></div>
                                <h1>@Model.SanPham1.tenSP</h1>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <a href="" class="add-review mini-text">Thêm nhận xét của bạn</a>
                                    </div>
                                    <div class="stock-sku">
                                        <span class="available">@Model.SanPham1.TinhTrangSP</span>
                                    </div>
                                    <div class="price">
                                        <span class="current">@Model.SanPham1.GiaGiam.ToString("#,##0").Replace(',', '.') VND</span>
                                        <span class="normal">@Model.SanPham1.GiaGoc.ToString("#,##0").Replace(',', '.') VND</span>
                                    </div>

                                    <div class="sizes">
                                        <p>
                                            Size
                                        </p>
                                        <div class="variant">
                                            <form action="">
                                                <P>
                                                    <input type="radio" name="size" id="size-40" />
                                                    <label for="size-40" class="circle"><span>40</span></label>
                                                </P>
                                                <P>
                                                    <input type="radio" name="size" id="size-41" />
                                                    <label for="size-41" class="circle"><span>41</span></label>
                                                </P>
                                                <P>
                                                    <input type="radio" name="size" id="size-42" />
                                                    <label for="size-42" class="circle"><span>42</span></label>
                                                </P>
                                                <P>
                                                    <input type="radio" name="size" id="size-43" />
                                                    <label for="size-43" class="circle"><span>43</span></label>
                                                </P>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <div class="qty-control flexitem">
                                            <button class="minus circle">-</button>
                                            <input type="text" id="quantity-input" value="1" />
                                            <button class="plus circle">+</button>
                                        </div>
                                        <div class="button-cart">
                                            <button class="primary-button" id="add-to-cart-btn">Thêm vào giỏ hàng</button>
                                        </div>
                                        <div class="wish-share">
                                            <ul class="flexitem second-links">
                                                <li>
                                                    <a href="#">
                                                        <span class="icon-large"><i class="ri-heart-line"></i></span>
                                                        <span>Yêu thích</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="icon-large"><i class="ri-share-line"></i></span>
                                                        <span>Chia sẻ</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="description collapse">
                                        <ul>
                                            <li class="has-child expand">
                                                <a href="#" class="icon-small">Chi tiết</a>
                                                <ul class="content">
                                                    <li><span>Thương hiệu</span><span>@Model.TenThuongHieu</span></li>
                                                    <li><span>Đã bán</span><span>@Model.SanPham1.SLBan</span></li>
                                                    <li><span>Màu sắc</span><span>@Model.SanPham1.MauSac</span></li>
                                                    <li><span>Giới tính</span><span>Gay</span></li>
                                                </ul>
                                            </li>
                                            <li class="has-child">
                                                <a href="#" class="icon-small">Mô tả</a>
                                                <div class="content">
                                                    <p>@Model.SanPham1.MoTaSP</p>
                                                </div>
                                            </li>
                                            <li class="has-child">
                                                <a href="#" class="icon-small">Hướng dẫn chọn size</a>
                                                <div class="content">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>US</th>
                                                                <th>UK</th>
                                                                <th>VN</th>
                                                                <th>Mili-mét<span class="mini-text">(mm)</span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>7</td>
                                                                <td>6.5</td>
                                                                <td>40</td>
                                                                <td>250</td>
                                                            </tr>
                                                            <tr>
                                                                <td>8</td>
                                                                <td>7.5</td>
                                                                <td>41</td>
                                                                <td>260</td>
                                                            </tr>
                                                            <tr>
                                                                <td>8.5</td>
                                                                <td>8</td>
                                                                <td>42</td>
                                                                <td>270</td>
                                                            </tr>
                                                            <tr>
                                                                <td>9.5</td>
                                                                <td>9</td>
                                                                <td>43</td>
                                                                <td>280</td>
                                                            </tr>
                                                            <tr>
                                                                <td>10</td>
                                                                <td>9.5</td>
                                                                <td>44</td>
                                                                <td>290</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                            <li class="has-child expand">
                                                <a href="#" class="icon-small">Nhận xét<span class="mini-text">2.2k</span></a>
                                                <div class="content">
                                                    <div class="reviews">
                                                        <h4>Nhận xét từ khách hàng</h4>
                                                        <div class="review-block">
                                                            <div class="review-block-head">
                                                                <div class="flexitem">
                                                                    <span class="rate-sum">4.9</span>
                                                                    <span>2,251 Nhận xét</span>
                                                                </div>
                                                                <a href="#review-form" class="secondary-button">Viết nhận xét</a>
                                                            </div>
                                                            <div class="review-block-body">
                                                                <ul>
                                                                    <li class="item">
                                                                        <div class="review-form">
                                                                            <p class="person">Nhận xét bởi Duc</p>
                                                                            <p class="mini-text">ngày 7/7/24</p>
                                                                        </div>
                                                                        <div class="review-rating rating">
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                        </div>
                                                                        <div class="review-title">
                                                                            <p>Sản phẩm rất tốt!</p>
                                                                        </div>
                                                                        <div class="review-text">
                                                                            <p>Món đồ rất đáng tiền mua.</p>
                                                                        </div>
                                                                    </li>
                                                                    <li class="item">
                                                                        <div class="review-form">
                                                                            <p class="person">Nhận xét bởi Minh</p>
                                                                            <p class="mini-text">Ngày 7/7/24</p>
                                                                        </div>
                                                                        <div class="review-rating rating">
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                        </div>
                                                                        <div class="review-title">
                                                                            <p>Sản phẩm rất tốt!</p>
                                                                        </div>
                                                                        <div class="review-text">
                                                                            <p>Món đồ rất khá đẹp.</p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="second-links">
                                                                    <a href="#" class="view-all">Xem tất cả nhận xét<i class="ri-arrow-right-line"></i></a>
                                                                </div>
                                                            </div>
                                                            <div id="review-rorm" class="review-form">
                                                                <h4>Viết nhận xét</h4>
                                                                <div class="rating">
                                                                    <p>Bạn có đủ hài lòng không?</p>
                                                                    <div class="rate-this">
                                                                        <input type="radio" name="rating" id="star5">
                                                                        <label for="star5"><i class="ri-star-fill"></i></label>

                                                                        <input type="radio" name="rating" id="star4">
                                                                        <label for="star4"><i class="ri-star-fill"></i></label>

                                                                        <input type="radio" name="rating" id="star3">
                                                                        <label for="star3"><i class="ri-star-fill"></i></label>

                                                                        <input type="radio" name="rating" id="star2">
                                                                        <label for="star2"><i class="ri-star-fill"></i></label>

                                                                        <input type="radio" name="rating" id="star1">
                                                                        <label for="star1"><i class="ri-star-fill"></i></label>
                                                                    </div>
                                                                </div>
                                                                <form action="">
                                                                    <p>
                                                                        <label>Tên</label>
                                                                        <input type="text">
                                                                    </p>
                                                                    <p>
                                                                        <label>Điểm</label>
                                                                        <input type="text">
                                                                    </p>
                                                                    <p>
                                                                        <label>Nhận xét</label>
                                                                        <textarea cols="30" rows="10"></textarea>
                                                                    </p>
                                                                    <p><a href="#" class="primary-button">Gửi nhận xét</a></p>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const minusButton = document.querySelector('.minus');
        const plusButton = document.querySelector('.plus');
        const inputField = document.getElementById('quantity-input');
        const addToCartBtn = document.getElementById('add-to-cart-btn');

        minusButton.addEventListener('click', function () {
            let currentValue = parseInt(inputField.value);
            if (currentValue > 1) {
                inputField.value = currentValue - 1;
            }
        });

        plusButton.addEventListener('click', function () {
            let currentValue = parseInt(inputField.value);
            inputField.value = currentValue + 1;
        });

        addToCartBtn.addEventListener('click', function () {
            const quantity = inputField.value;
            const productId = '@Model.SanPham1.maSP'; // ID sản phẩm từ model
            window.location.href = `@Url.Action("AddToCart", "CartPage")?id=${productId}&quantity=${quantity}`;
        });
    });
    </script>



</main>
<!-----------------------main---------------------->
