@model BanGiay.Models.ViewModel

@{
    ViewBag.Title = "Home Page";
}

<main>
    <!----------------SLIDER--------------->
    <div class="slider">
        <div class="container">
            <div class="wrapper">
                <div class="myslider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image object-cover">
                                    <img src="https://ananas.vn/wp-content/uploads/Pro_AV00149_1.jpg" alt="ảnh giày" />
                                </div>
                                <div class="text-content flexcol">
                                    <h4>Giày thời trang</h4>
                                    <h2><span>Xem ngay và đặt!</span><br><span>Sản phẩm mới</span></h2>
                                    <a href="#" class="primary-button">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image object-cover">
                                    <img src="https://ananas.vn/wp-content/uploads/Pro_AV00005_1.jpeg" alt="Anh slider" />
                                </div>
                                <div class="text-content flexcol">
                                    <h4>Thời trang nhanh</h4>
                                    <h2><span>Bạn muốn đẹp?</span><br><span>Sỡ hữu ngay!</span></h2>
                                    <a href="#" class="primary-button">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="image object-cover">
                                    <img src="https://ananas.vn/wp-content/uploads/pro_AV00114_1.jpg" alt="Anh Slider" />
                                </div>
                                <div class="text-content flexcol">
                                    <h4>Giày thể thao</h4>
                                    <h2><span>Cảm thấy chán?</span><br><span>Có thể bạn cần</span></h2>
                                    <a href="#" class="primary-button">Mua ngay</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

        </div>
    </div>


    <!----------------BRANDS--------------->
    <div class="brands">
        <div class="container">
            <div class="wrapper flexitem">
                @foreach(var item in Model.ThuongHieuSP) {
                    <div class="item">
                        <a href="@Url.Action("ProductCategory", "Category", new { MaTH = item.MaTH })">
                            <img src="@Url.Content(item.Logo)" style="width:200px;height:100px" alt="" />
                        </a>
                    </div> 
                 }
            </div>
        </div>
    </div>

    <!----------------FEATURED-PRODUCTS--------------->
    <div class="features">
        <div class="container">
            <div class="wrapper">
                <div class="column">
                    <div class="sectop flexitem">
                        <h2><span class="circle"></span><span>SẢN PHẨM NỔI BẬT</span></h2>
                        <div class="second-links">
                            <a href="@Url.Action("Viewall", "Home")" class="view-all">Xem tất cả<i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div>
                    <div class="products main flexwrap">
                        @foreach(var item in Model.SanPham.Take(6)) {
                            <div class="item">
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a href="@Url.Action("Detail", "Product", new { maSP = item.maSP })">
                                            <img src="@Url.Content("~/Content/Image/SanPham/" +item.HinhAnh1)" />
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            <li>
                                                <a href="@Url.Action("Detail", "Product", new { maSP = item.maSP })">
                                                   <i class="ri-eye-line"></i>
                                                </a>
                                            </li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="discount circle flexcenter"><span>@item.giamGia%</span></div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <span class="mini-text">@item.SLBan đã bán</span>
                                    </div>
                                    <h3><a href="@Url.Action("Detail", "Product", new { maSP = item.maSP })">@item.tenSP</a></h3>
                                    <div class="price">
                                        <span class="current">@item.GiaGiam₫</span>
                                        <span class="normal mini-text">@item.GiaGoc₫</span>
                                    </div>
                                </div>
                            </div>
                         }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!----------------BANNERS---------------->
    <div class="banners">
        <div class="container">
            <div class="wrapper">
                <div class="column">
                    <div class="banner flexwrap">
                        <div class="row">
                            <div class="item">
                                <div class="image">
                                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/16389927-77c7-412e-ba24-6d1c59b01bc7/digital-gift-card-emailed-in-approximately-2-hours-or-less-B9Mv2K.png" />
                                </div>
                                <div class="text-content flexcol">
                                    <h4>Siêu giảm giá!</h4>
                                    <h3><span>Nhận lấy voucher ngay!</span><br>Thẻ thành viên (Nike)</h3>
                                    <a href="#" class="primary-button">Mua ngay</a>
                                </div>
                                <a href="#" class="over-link"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item get-gray">
                                <div class="image">
                                    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/eb361b64-8b46-4c24-836e-371ea1dabda2/digital-gift-card-emailed-in-approximately-2-hours-or-less-B9Mv2K.png" />
                                </div>
                                <div class="text-content flexcol">
                                    <h4>Siêu giảm giá!</h4>
                                    <h3><span>Nhận lấy voucher ngay!</span><br>Thẻ thành viên (Jordan)</h3>
                                    <a href="#" class="primary-button">Mua ngay</a>
                                </div>
                                <a href="#" class="over-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-----------------------main---------------------->
