@model BanGiay.Models.Cart

@{
    ViewBag.Title = "CartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="single-cart">
        <div class="container">
            <div class="wrapper">
                <div class="breadcrumb">
                    <ul class="flexitem">
                        <li><a href="\">Home</a></li>
                        <li>Giỏ hàng</li>
                    </ul>
                </div>
                <div class="sectop flexitem">
                    <h2><span class="circle"></span><span>GIỎ HÀNG</span></h2>
                </div>
                <div class="products one cart">
                    <div class="flexwrap">
                        <form action="" class="form-cart">
                            <div class="item">
                                @if (Model != null && Model.Items.Any())
                                {
                                    <table id="cart-table">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Subtotal</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Items)
                                            {
                                                var subtotal = item.Quantity * (item.Product.GiaGiam);
                                                <tr>
                                                    <td class="flexitem">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="~/Content/Image/SanPham/@item.Product.HinhAnh1" /></a>
                                                        </div>
                                                        <div class="content">
                                                            <strong><a href="#">@item.Product.tenSP</a></strong>
                                                            <p>Màu sắc: @item.Product.MauSac</p>
                                                            <p>Size: @item.Product.maSize</p>
                                                        </div>
                                                    </td>
                                                    <td>@item.Product.GiaGiam.ToString("#,##0").Replace(',', '.') VND</td>
                                                    <td>
                                                        @using (Html.BeginForm("UpdateCartQuantity", "CartPage", FormMethod.Post))
                                                        {
                                                            @Html.Hidden("idPro", item.Product.maSP)
                                                            <input type="number" name="carQuantity" value="@item.Quantity" style="text-align:right" />
                                                            <input type="submit" value="Update" />
                                                        }
                                                    </td>
                                                    <td>@subtotal.ToString("#,##0").Replace(',', '.') VND</td>
                                                    <td><a href="/CartPage/RemoveCart/@item.Product.maSP" class="item-remove"><i class="ri-close-line"></i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <h4> Giỏ hàng rỗng! Xin mời tiếp tục mua hàng.</h4>
                                }
                            </div>
                        </form>

                        <div class="cart-summary styled" style="float:right; margin-top:50px">
                            <div class="item">
                                <div class="cart-total">
                                    @using (Html.BeginForm("ThanhToan", "CartPage", FormMethod.Post))
                                    {
                                        if (ViewBag.UserName != null)
                                        {
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Tổng cộng</th>
                                                        <th>@Model.TotalMoney().ToString("#,##0").Replace(',', '.') VND</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Tên Khách hàng:</th>
                                                        <th><input type="text" name="Name" value="@ViewBag.UserName" required /></th>
                                                    </tr>
                                                    <tr>
                                                        <th>Email:</th>
                                                        <th><input type="text" name="Email" value="@ViewBag.UserEmail" required /></th>
                                                    </tr>
                                                    <tr>
                                                        <th>Số điện thoại:</th>
                                                        <th><input type="text" name="SDT" value="@ViewBag.UserPhone" required /></th>
                                                    </tr>
                                                    <tr>
                                                        <th>Địa chỉ giao hàng:</th>
                                                        <th><input type="text" name="AddressDeliverry" value="@ViewBag.UserAddress" required /></th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Tổng cộng</th>
                                                        <th>@Model.TotalMoney().ToString("#,##0").Replace(',', '.') VND</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Địa chỉ giao hàng:</th>
                                                        <th><input type="text" name="AddressDeliverry" required /></th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="@Url.Action("Register", "Account")" class="secondary-button" style="background-color: #ff6b6b">Đăng ký</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                        <input type="submit" value="Thanh toán" class="secondary-button" style="background-color: #ff6b6b" />
                                        <a href="@Url.Action("Viewall", "Home")" class="secondary-button">Tiếp tục mua hàng</a>
                                    }   
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.plus, .minus').forEach(function (button) {
                button.addEventListener('click', function () {
                    const inputField = button.closest('tr').querySelector('input[type="number"]');
                    let currentValue = parseInt(inputField.value);
                    if (button.classList.contains('plus')) {
                        inputField.value = currentValue + 1;
                    } else if (button.classList.contains('minus')) {
                        if (currentValue > 1) {
                            inputField.value = currentValue - 1;
                        }
                    }
                });
            });
        });
    </script>
</main>

<!-----------------------main---------------------->
